:root {
  --color-background: hsl(210deg 15% 6% / 1);
  --color-primary: hsl(50deg 100% 58% / 1);
  --color-secondary: hsl(342deg 87% 54% / 1);
  --color-bling: hsl(191deg 82% 58% / 1);
}

* {
  font-family: 'Lato', sans-serif;
  color: #f8f8f8;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--color-background);
}
