.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.flashIcon {
  stroke: var(--color-primary);
}

.redpointIcon {
  stroke: var(--color-secondary);
}
