.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.badge:hover {
  cursor: pointer;
}

.flash {
  stroke: var(--color-primary);
}

.redpoint {
  stroke: var(--color-secondary);
}

.fotg {
  stroke: var(--color-bling);
}

.tooltipContent {
  background-color: white;
  padding: 4px 12px;
  border-radius: 4px;
  color: #080808;
  font-size: 0.75rem;
  font-weight: 600;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.tooltipContent[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}

.tooltipArrow {
  fill: white;
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
