.row > td {
  padding: 12px 0;
}

.nameRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.name {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
}

.location {
  font-size: 0.875rem;
}

.grade {
  display: flex;
  flex-direction: column;
}
